* {
  box-sizing: border-box;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: -10px;
}
h2 {
  font-size: 2.4rem;
}
p {
  letter-spacing: .6rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-shadow: .7px .7px #aaa;
}
a:visited {
  color: black;
}
.icons-social {
  margin-top: 40px
}
